body{
    background-color:  cornflowerblue;
}
.text_box_style{
    border-width: 0px;
    border-bottom-width: thin;
    border-bottom-color: dodgerblue;
        }
.alert{
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 0.5px;
    background-color: firebrick;
    color: floralwhite;
}
.label_margin{
    margin-right: 20px;
}
.m_closebtn{
    margin-left: 4px;
}
.m_closebtn:hover{
    cursor: pointer;
}